.background {
    background: #faf8ef;
}

.gameBoardParent {
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameBoard {
    /*align-self: flex-start;*/
}

.tableSquare {
    background: red;
    width: 100px;
    height: 50px;
}

td {
    background: #a89e9e;
    width: 120px;
    height: 120px;
}

.gameBoardCell {
    background: #eee4da;
    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-size: 50px;
    color: #776e65;
}

@keyframes scaleElement {
    0% {transform: scale(0,0)}
    100% {transform: scale(1, 1)}
}

.newTileAnimation {
    animation-name: scaleElement;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}




